%nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
  %a.navbar-brand{:href => "#"} Book Store
  %button.navbar-toggler{"aria-controls" => "navbarCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarCollapse", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarCollapse.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{:href => root_path}
          Home
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{:href => "/books"} Books
      - if !user_signed_in?
        %li.nav-item
          %a.nav-link{:href => "/users/sign_in"} Sign In
        %li.nav-item
          %a.nav-link{:href => "/users/sign_up"} Sign up
      - else
        %li.nav-item
          %a.nav-link{"data-method" => "delete", :href => "/users/sign_out", :rel => "nofollow"} Logout
:css
  .navbar-dark .navbar-brand{
        text-decoration: none;
  }
  a.nav-link {
      text-decoration: none;
  }
- if controller_name == "home"
  %header.masthead
    .container
      .intro-text
        .intro-lead-in Welcome To Our Book Store!
        .intro-heading.text-uppercase It's Nice To Meet You
